<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	failOnWarning="true"
	failOnRisky="true"
	>
	<testsuites>
		<testsuite name="vip-featured-posts">
			<directory suffix=".php">tests/integration</directory>
		</testsuite>
	</testsuites>

	<coverage>
		<include>
			<directory suffix=".php">includes</directory>
			<file>vip-featured-posts.php</file>
		</include>
	</coverage>
</phpunit>
